%nav.breadcrumbs
  %ol
    %li
      %a{:href => url(:index)} Home
    %li
      %a{:href => url(:notices, :index)} Notices
    %li
      %a{:href => url(:notices, :edit, :id => @notice.id)}= @notice.id
    %li
      %span Edit

= partial 'layouts/flash', :locals => { :flash => flash }

%header
  %h2 Notices
  %h3= safe("Editing notice item <code>#{@notice.id}</code>")

- form_tag url(:notices, :modify), :method => "put" do
  = hidden_field_tag :id, :value => @notice.id

  %p= text_area_tag "notice[text]", :class => "huge", :required => true, :value => @notice.text
  %p.submit
    %button
      %a{:href => url(:notices, :index)} Cancel
    = button_tag "Save", :class => "primary", :type => "submit"
