!!!5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    
    %meta{:content => "The clock.", :name => "description"}
    %meta{:content => "Ethan Turkeltaub", :name => "author"}
    
    %title Clock
    
    %link{:href => "/humans.txt", :rel => "author", :type => "text/plain"}
    %link{:href => "/css/clock.css", :rel => "stylesheet"}

    :css
      body { background: url(#{@theme}) no-repeat }

  %body
    #contain

      %header#marquee
        %ul
          - @marquees.each do |m|
            %li= m.text  

      #main{:role => "main"}

        - if @schedule and @schedule.periods
          %section#periods
            %ol
              - @schedule.periods.each do |p|
                %li
                  ="#{p.text}: "
                  %time.start{:datetime => seconds(p.start)}= "#{time(p.start, 12)}"
                  &ndash;
                  %time.finish{:datetime => seconds(p.finish)}= "#{time(p.finish, 12)}"

        %aside#clock
          %p#date Tuesday, August 2nd, 2012
          %p#time 10:22

    %script{:src => "/jsc/lib/jquery.js"}
    %script{:src => "/faye/client.js"}
    %script{:src => "/jsc/lib/jquery.marquee.js"}
    %script{:src => "/jsc/clock.js"}