!!!5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/

    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
    
    %meta{:content => "The Farmington High School clock.", :name => "description"}
    %meta{:content => "Ethan Turkeltaub", :name => "author"}
    
    %title Clock
    
    %link{:href => "/favicon.ico", :rel => "icon"}
    %link{:href => "/img/apple-touch-icon.png", :rel => "apple-touch-icon-precomposed"}

    %link{:href => "/img/apple-touch-startup-image-iphone.png", :rel => "apple-touch-startup-image"}/
    %link{:href => "/img/apple-touch-startup-image-ipad-portrait.png", :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)", :rel => "apple-touch-startup-image"}/
    %link{:href => "/img/apple-touch-startup-image-ipad-landscape.png", :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)", :rel => "apple-touch-startup-image"}/
    %link{:href => "/img/apple-touch-startup-image-ipad-portrait@2x.png", :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}/
    %link{:href => "/img/apple-touch-startup-image-ipad-landscape@2x.png", :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}/
    
    %link{:href => "/humans.txt", :rel => "author", :type => "text/plain"}
    %link{:href => "/css/clock.css", :rel => "stylesheet"}

    - if @theme[:type] == "video/mp4"
      :css
        body { background: #000 }
    - else
      :css
        body { background: url(#{@theme}) no-repeat }

    %script{:src => "//use.typekit.net/zkf1hyd.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    - if @theme[:type] = "video/mp4"
      %video{:autoplay => true, :loop => true, :muted => true}
        %source{:src => @theme[:url], :type => "video/mp4"}

    #contain

      - unless @marquees.empty?
        %header#marquee
          %ul
            - @marquees.each do |m|
              %li= m.text  

      #main{:class => @schedule.blank?, :role => "main"}
        %aside#clock
          %p#date 
          %p#time 

          - unless @notices.empty?
            %footer#notices
              %ul
                - @notices.each do |n|
                  %li= n.text

        - if @schedule and @schedule.periods
          %section#periods
            %ol
              - @schedule.periods.each do |p|
                %li
                  ="#{p.text}: "
                  %time.start{:datetime => seconds(p.start)}= "#{time(p.start, 12)}"
                  &ndash;
                  %time.finish{:datetime => seconds(p.finish)}= "#{time(p.finish, 12)}"

    %script{:src => "/jsc/lib/jquery.js"}
    %script{:src => "/faye/client.js"}
    %script{:src => "/jsc/lib/jquery.marquee.js"}
    %script{:src => "/jsc/clock.js"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35167781-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
