%section#body
  %section.row
    %nav.back
      %button
        %a{:href => url(:schedules, :index)}= "&larr; Back"
    %header
      %h2
        Editing schedule 
        ="&ldquo;#{@schedule.name}&rdquo;"
        - if @schedule.active
          %span{:style => "color: green"} (Active)
      =flash_tag :error
      =flash_tag :notice
      - if @schedule.active != true
        %form.right.clearfix{:action => url(:schedules, :activate), :method => "post"}
          %input{:name => "id", :type => "hidden", :value => @schedule.id}/
          %button{:type => "submit"}
            Activate
    %form.row{:action => url(:schedules, :modify), :method => "post"}
      %section
        %p
          %input{:name => "schedule[name]", :placeholder => "Name", :type => "text", :value => @schedule.name}/
        %p
          %input{:name => "schedule[description]", :placeholder => "Description", :type => "text", :value => @schedule.description}/
          %input{:name => "id", :type => "hidden", :value => @schedule.id}/
          %input{:name => "_method", :type => "hidden", :value => "put"}/
          %button.green{:type => "submit", :value => "Edit"} Edit

    %section.meta
      - if !@periods.blank?
        %table
          %thead
            %tr
              %th #
              %th Text
              %th Start/Finish Times
              %th Actions
          %tbody
            - @periods.each do |period|
              %tr
                %td= period.number
                %td= period.text
                %td= "#{local(period.start)} &ndash; #{local(period.finish)}"
                %td
                  %a{:href => url(:periods, :edit, :id => period.id, :schedule_id => @schedule.id)} Edit
                  &mdash;
                  %form.inline{:action => url(:periods, :destroy, :schedule_id => @schedule.id), :method => "post"}
                    %input{:name => "id", :type => "hidden", :value => period.id}/
                    %input{:name => "s_id", :type => "hidden", :value => @schedule.id}/
                    %input{:name => "_method", :type => "hidden", :value => "delete"}/
                    %button.inline{:type => "submit", :value => "Delete"} Delete
      - else
        %p
          No periods!
    
    %section.meta
      %form{:action => url(:periods, :create, :schedule_id => @schedule.id), :method => "post"}
        %p.inline
          %input.tiny{:name => "period[number]", :placeholder => "Event #", :tabindex => "0", :type => "text", :width => "5"}/
          %input.medium{:autofocus => true, :name => "period[text]", :placeholder => "Descriptive text (Period 1), et cetera.", :type => "text"}/
          %input.time{:name => "period[start]", :placeholder => "Start time (07:32)", :type => "text"}/
          %input.time{:name => "period[finish]", :placeholder => "End time (14:23)", :type => "text"}/
          %input{:name => "id", :type => "hidden", :value => @schedule.id}/
          %button.green{:type => "submit"} Create
