<section>
	<h2>Schedules</h2>
	<ul>
		<% @schedules.each do |@schedule| %>
		<li id="first">
			<p><%= @schedule.name %></p>
			<ul id="second">
				<% if @schedule.active != true %>
				<li><form action="/api/schedule/activate" method="post"><input name="id" type="hidden" value="<%= @schedule.id %>" /><input name="activate" type="submit" value="Activate" /></form></li>
				<% end %>
				<li><a href="/admin/schedule/<%= @schedule.id %>/edit">Edit</a></li>
				<li><a href="/admin/schedule/<%= @schedule.id %>/delete">Delete</a></li>
			</ul>
		</li>
		<% end %>
	</ul>
	<form action="/api/schedule/new" method="post">
		<p><input name="name" type="text" value="Name of Schedule" />
		<input id="next" type="submit" value="Continue &rarr;" /></p>
	</form>
</section>
<section>
	<h2>Marquee</h2>
	<ul>
		<% @marquees.each do |@marquee| %>
		<li id="first">
			<p><%= @marquee.string %></p>
			<ul id="second">
				<li><a href="/admin/marquee/<%= @marquee.id %>/edit">Edit</a></li>
				<li><a href="/admin/marquee/<%= @marquee.id %>/delete">Delete</a></li>
			</ul>
		</li>
		<% end %>
	</ul>
	<form action="/api/marquee/new" method="post">
		<p><input name="string" type="text" value="String" />
		<input type="submit" value="Create &rarr;" /></p>
	</form>
</section>
