%nav.breadcrumbs
  %ol
    %li
      %a{:href => url(:index)} Home
    %li
      %a{:href => url(:schedules, :index)} Schedules
    %li
      %a{:href => url(:schedules, :edit, :id => @s.id)}= @s.name
    %li
      %span= @period.text


%header
  %h2 Schedules
  %h3= "Editing period #{@period.text} in schedule #{@s.name}"

= partial 'layouts/flash', :locals => { :flash => flash }

= form_tag url(:periods, :update, :schedule_id => @s.id), :class => "periods", :method => "patch" do
  = hidden_field_tag :id, :value => @period.id
  %p
    = text_field_tag :"period[number]", :class => "tiny", :placeholder => "#", :value => @period.number, :required => true
    = text_field_tag :"period[text]", :class => "medium", :placeholder => "Text", :value => @period.text, :required => true
    = text_field_tag :"period[start]", :class => "small", :placeholder => "Start Time", :value => time(@period.start, 24), :required => true
    = text_field_tag :"period[finish]", :class => "small", :placeholder => "Finish Time", :value => time(@period.finish, 24), :required => true
  %p.submit
    %button
      %a{:href => url(:schedules, :edit, :id => @s.id)} Cancel
    = button_tag "Save", :class => "primary", :type => "submit"
