%nav.breadcrumbs
  %ol
    %li
      %a{:href => url(:index)} Home
    %li
      %a{:href => url(:schedules, :index)} Schedules
    %li
      %span= @schedule.name

%header
  %h2 Schedules
  %h3= @schedule.name

= partial 'layouts/flash', :locals => { :flash => flash }

= form_tag url(:schedules, :modify), :class => "schedules", :method => "put" do
  = hidden_field_tag :id, :value => @schedule.id

  %p
    = text_field_tag :"schedule[name]", :value => @schedule.name
    = text_field_tag :"schedule[description]", :value => @schedule.description
  %p.submit
    = button_tag "Save", :class => "primary", :type => "submit"

%table.schedules
  - if !@schedule.periods.blank?
    %thead
      %th #
      %th Text
      %th Times
      %th Actions
    %tbody
      - @schedule.periods.order(:number.asc).each do |p|
        %tr
          %td= p.number
          %td= p.text
          %td= "#{time(p.start, 24)} &ndash; #{time(p.finish, 24)}"
          %td
            %a{:href => url(:periods, :edit, :schedule_id => @schedule.id, :id => p.id)} Edit
            &mdash;
            = form_tag url(:periods, :destroy, :schedule_id => @schedule.id), :class => "inline", :method => "delete" do
              = hidden_field_tag :id, :value => p.id
              %button{:type => "submit"} Delete
  - else
    %p No periods yet!
                    
%footer
  %form.periods{:action => url(:periods, :create, :schedule_id => @schedule.id), :method => "post"}
    %p
      = text_field_tag :"period[number]", :class => "tiny", :placeholder => "#"
      = text_field_tag :"period[text]", :autofocus => true, :class => "medium", :placeholder => "Text"
      = text_field_tag :"period[start]", :class => "small", :placeholder => "Start Time"
      = text_field_tag :"period[finish]", :class => "small", :placeholder => "Finish Time"
    %p.submit= button_tag "Save", :class => "primary", :type => "submit"
