%nav.breadcrumbs
  %ol
    %li
      %a{:href => url(:index)} Home
    %li
      %span Settings

%header
  %h2 Settings

= partial 'layouts/flash', :locals => { :flash => flash }

= form_tag url(:settings, :modify), :class => "settings", :method => "put" do
  %p.old= password_field_tag :"password[old]", :placeholder => "Your current password"
  %p= password_field_tag :"password[new]", :placeholder => "A new password"
  %p= password_field_tag :"password[confirmation]", :placeholder => "A confirmation"
  %p
    %button.primary{:type => "submit"} Save