%header
  %h2 Marquee Items
  %h3= "Editing marquee item <code>#{@marquee.id}</code>"

= partial 'layouts/flash', :locals => { :flash => flash }

- form_tag url(:marquees, :modify), :method => "put" do
  = hidden_field_tag :id, :value => @marquee.id

  %p= text_area_tag "marquee[text]", :class => "huge", :value => @marquee.text
  %p.submit
    %button
      %a{:href => url(:marquees, :index)} Cancel
    = button_tag "Save", :class => "primary", :type => "submit"