!!! 5
%html
  %head
    %title FHS Clock
    %link{:href => "/css/application.css", :rel => "stylesheet"}/
  %body
    #contain
      #marquee
        %marquee
          - @marquees.each do |marquee|
            \ —  #{marquee.text}
          \  — 
      #schedule
        .during
          - if @periods_exist
            - @periods.each do |period|
              %div.period
                ="#{period.text}: "
                %time.start{:time => seconds(period.start)}="#{local(period.start)} &ndash; "
                %time.finish{:time => seconds(period.finish)}="#{local(period.finish)}"
        .after
          %div.period
          %div.period
          %div.period
          %div.period
          %div.period
          %div.period
          %div.period
          %div.period{:style => "text-align: center"}
            It's after school!
          %div.period
          %div.period
          %div.period
          %div.period
          %div.period
          %div.period
          %div.period
      #clock
        %p
          %span#date
        %p
          %span#time
      - if @notices
        #notices
          - @notices.each do |notice|
            %p{:class => notice.urgent}= notice.text
    %script{:src => "/jsc/jquery.js"}
    %script{:src => "/jsc/application.js"}
