!!!5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    %title FHS Clock
    %link{:href => "/humans.txt", :rel => "author", :type => "text/plain"}
    %link{:href => "/css/application.css", :rel => "stylesheet"}
    - if !@wallpaper.blank?
      - if @wallpaper.file.type != "video/mp4"
        :css
          body { background: url("/admin/wallpapers/linked/#{@wallpaper.file.id}") no-repeat; }
      - else
        :css
          body { background-color: #000000; }
    - else
      :css
        body { background: url("/img/default.jpg") no-repeat; }
  %body
    - if !@wallpaper.blank?
      - if @wallpaper.file.type == "video/mp4"
        %video{:autoplay => true, :loop => true, :muted => true}
          %source{:src => @wallpaper_url, :type => "video/mp4"}
    #contain
      %header.row
        - if !@marquees.blank?
          %ul#marquee
            - @marquees.each do |marquee|
              %li= marquee.text
      %section#main.row
        #left.sevencol
          %ol#periods
            - if !@periods.blank?
              - @periods.each do |period|
                %li
                  ="#{period.text}: "
                  %time.start{:datetime => seconds(period.start)}="#{local(period.start)}"
                  &mdash;
                  %time.finish{:datetime => seconds(period.finish)}="#{local(period.finish)}"
        #right.fivecol.last
          %section#clock
            %p#date
            %p#time
          %section#notices
            %ol
              - if !@notices.blank?
                - @notices.each do |notice|
                  %li{:class => notice.urgent}= notice.text
    %script{:src => "/jsc/lib/jquery-1.6.2.min.js"}
    %script{:src => "/jsc/lib/jquery.marquee.min.js"}
    %script{:src => "/jsc/lib/jquery.fittext.js"}
    %script{:src => "/jsc/application.js"}
