!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    %meta{:content => "The Farmington High School clock.", :name => "description"}
    %meta{:content => "Ethan Turkeltaub", :name => "author"}
    
    %title Clock &mdash; Administration
    
    %link{:href => "/humans.txt", :rel => "author", :type => "text/plain"}
    %link{:href => "/css/application.css", :rel => "stylesheet"}
  %body
    #contain
      %header
        %hgroup.top
          %section
            %aside
              %h1
                %a{:href => url(:index)} Clock
            %nav.right
              %ul
                - if authenticated?
                  %li
                    = form_tag url(:refreshes, :create), :method => "post" do
                      = hidden_field_tag :"redirect", :value => request.path
                      %button{:type => "submit"} Refresh
                %li
                  %a{:href => url(:clock, :index)} View Clock &rarr;
        - if authenticated?
          %hgroup.bottom
            %section
              %nav.left
                %ul
                  %li
                    %a{:href => url(:themes, :index)} Themes
                  %li
                    %a{:href => url(:schedules, :index)} Schedules
                  %li
                    %a{:href => url(:marquees, :index)} Marquee
              %nav.right
                %ul
                  %li
                    %a{:href => url(:settings, :index)} Settings
                  %li
                    %a{:href => url(:sessions, :destroy)} Sign Out &rarr;
      
      #main{:role => "main"}
        = yield

      .footer-push

    %footer
      %section
        %p= "Ethan Turkeltaub and FHS Audio-Visual fecit 1997&ndash;#{Time.now.year}."
        %p.version= "#{CLOCK_VERSION}"

    %script{:src => "http://code.jquery.com/jquery.min.js"}
    %script{:src => "/jsc/application.js"}
